extends layout

block content
  div(class='images_container')
    div(class='row')
      each image in image_list
        div(class='col m4')
          div(class='card')
            div(class='card-image')
              img.className#IdName(src=image.signedUrl alt="Image Title")
              span(class='card-title') Card Title
            div(class='card-content')
              p stuff goes here
            div(class='card-action')
              p more stuff here
