extends layout

block content
  div(class='banner_image_wrapper')
  div(class='center_button')
    a(href='/photography', class='waves-effect waves-light btn-large btn_spacing') Photography
    a(href='/photograph/gear', class='waves-effect waves-light btn-large btn_spacing') Gear