doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.css', media='screen,projection')

  body
    nav
      div(class='nav-wrapper')
        a(href='/', class='brand-logo') logo
        ul(id='nav-mobile', class='right')
          li
            a(href='/') Home
          li
            a(href='/photography') Photography
          li
            a(href='/photography/gear') Gear
          li 
            a(href='/photography/images') Gallery
          li 
            a(href='/photography/image/create') Create new image
      div
        block content

      footer(class='page-footer')
        div(class='footer-copyright')
          div(class='footer_container')
            div(class='footer_row')
              div(class='icon_container')
                div(class='col 16 s12')
                  span(class='icon_container_individual')
                    a(href='https://instagram.com/matthew7j')
                      img(class='icon', src="../icons/ig.png")
                  span(class='icon_container_individual')
                    a(href='https://www.facebook.com/matthew7j')
                      img(class='icon', src="../icons/fb.png")
                  span(class='icon_container_individual')
                    a(href='https://www.github.com/matthew7j')
                      img(class='icon', src="../icons/github.png")
          span(class='footer_container') @2018 Copyright text

    script(type='text/javascript', src='/javascripts/materialize.js')