@import url('https://fonts.googleapis.com/css?family=Karla');
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Karla", Helvetica, Arial, sans-serif;
}

.images_container {
    padding: 0;
    margin: 15px;
}

.banner_image_wrapper {
    background-image: url("../images/DSC_3825_PS.jpg");
    top: -64px;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.banner_text_wrapper {
    text-align: center;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
}

.banner_image_wrapper_gear {
    background-image: url("../images/gear.jpg");
    height: 400px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_image_text {
    vertical-align: middle;
}

.center_button {
    text-align: center;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.btn_spacing {
    margin: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    -webkit-transition: opacity .3s linear 0s;
    transition: opacity .3s linear 0s;
}

.icon:hover {
    opacity: .5;
}

.icon_container {
    text-align: right;
}

.icon_container_individual {
    padding: 7px;
}

.image_list {
    padding: 15px;
}

.footer_container {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.footer_outer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.footer_row {
    margin: 0;
    padding: 0;
}

.no_margin {
    margin: 0 !important;
}

.z_bottom {
    z-index: 0;
}

.z_top {
    z-index: 10;
}

#footer {
    color: black;
    height: 200px;
}

#footer_inner {
    padding: 20px;
    text-align: center;
}
